{% extends "page.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form action="/authenticate" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
{% endblock %}
{% block scripts %}
<!-- no scripts necessary on login page -->
{% endblock %}