<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Stone Church Retreat</title>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        {% block scripts %}
        <script src="/static/jquery.js" type="text/javascript"></script>
        <script src="/static/underscore.js" type="text/javascript"></script>
        <script src="/static/backbone.js" type="text/javascript"></script>
        <script src="/static/models.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>